ul.files {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0, 0.1);
    padding-top: 5px;
    overflow: hidden;
}

ul.files li {
    float: left;
    padding-right: 15px;
}

ul.files li a { float: left; }

ul.files li .ajax-delete {
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 0 0 5px;

    background: url('../img/delete.png') no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: none !important;
}

ul.files li .ajax-delete:hover { background-position: 0 -22px; }